.body{
    background-color: #CFE8EF;
}
.navbar.navbar-expand-lg.fixed-top{
    background-color: #ff7411;
    height: 100px;
}

.navbar-nav.me-auto.mb-2.mb-lg-0.nav-item.nav-link.btn.btn-secondary.dropdown-toggle:active a{
    color: white;
}

#navbar{
    position: sticky;
}
#logo{
    color: white;
    font-size: 35px;
} 

.btn.btn-secondary.dropdown-toggle{
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
}
.btn.btn-secondary.dropdown-toggle:active{
    color: white;
    background-color: transparent;
    border-color: transparent;
}
.dropdown-menu.show{
    background-color:white;
}
.dropdown-menu a:hover{
    background-color:#dbd9d7dc;
    color: #848484  ;
}   
.dropdown-menu.show.dropdown-item {
    color: #848484; 
}

#link-nav{
    color: white ;
    font-size: 20px ;
}
#carouselExampleAutoplaying{
   display: flex;
   width: 1300px;
   align-self: center;
   align-items: center;
   justify-content: center;

}

.carousel-control-prev,.carousel-control-next{
    background-color: #ff7411;
    height: 700px;
   align-items: center;

}

.contenedor-carousel{
    display: flex;
    justify-content: center;
}
#btn-next,
#btn-prev{
    position: static;
    height: 30px;
    width: 30px;
}
#btn-next{
    margin-left: 10px;
}
#btn-prev{
    margin-right: 10px;
}
#img-carousel{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    
   
}
.texto-titulo{
    padding: 5px 3px px 3px;
   
 
}
#card-products{
    justify-content: center;
    margin-top: 0;
    margin-left: 50px;
    margin-right: 50px;
}

#grupo-cards{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
}
.lista-1,.lista-2{
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.lista-2{
    margin-bottom: 30px;
}
#cards-edit{
    flex: 1 0 33%;
    min-height: 403;
}
#cuerpo-cartas{
   padding: 1px 5px 1px 5px; 
   border-top: 1.5px solid #848484;
}
#footer-id{
    padding-top: 16px;
}
#container{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}