.container-pagina {
    position: relative;
    min-height: 100vh;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #212946;
}

.wrap-contenido {
    padding-bottom: 129px;
}

#navbar {
    position: sticky;
    background-color: #111936;
    height: 100px;
}

#logo {
    color: white;
    font-size: 35px;
}

#dropdown {
    background-color: #111936;
}

.dropdown-menu.show {
    background-color: white;
}

.dropdown-menu a:hover {
    background-color: #dbd9d7dc;
    color: #848484;
}

.dropdown-menu.show.dropdown-item {
    color: #848484;
}

#link-nav {
    color: white;
    background-color: #111936;
    font-size: 20px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #111936;
    height: 700px;
    align-items: center;
}

.contenedor-carousel {
    display: flex;
    justify-content: center;
}

#btn-next,
#btn-prev {
    position: static;
    height: 30px;
    width: 30px;
}

#btn-next {
    margin-left: 10px;
}

#btn-prev {
    margin-right: 10px;
}

#img-carousel {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.texto-titulo {
    padding: 5px 3px px 3px;
}

#container {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
}

.btn-outline-success {
    width: 60px;
}

.material-icons {
    align-items: center;
}

.img {
    width: 100%;
    height: 100%;
}

#formulario {
    background-color: #bce5f0b7;
    max-width: 600px;
    min-width: 268px;
    justify-content: center;
}

.container-form {
    display: flex;
    justify-content: center;
}

#formulario a {
    color: white;
    text-decoration: none;
}

#formulario-container input {
    max-width: 300px;
}

#formulario-container label {
    display: flex;
    justify-content: center;
}

#input-form {
    display: flex;
    justify-content: center;
}

.login-navbar {
    display: flex;
    flex-wrap: wrap;
    padding-right: 15px;
}

.login-navbar a {
    text-decoration: none;
    color: white;
}

#floatingInput {
    width: 600px;
}

#form-agg a {
    color: white;
    text-decoration: none;
}

#navbarSupportedContent.show {
    background-color: #111936;
}

.error {
    color: red;
}

.hover-effect {
    transition: 0.5s;
    object-fit: cover;
    transform: scale(1.05);
}

.geoloc {
    display: block;
    margin-right: 5px;
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.product-image-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-image-container button {
    padding: 10px;
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.outline {
    outline: 1px solid blue !important;
}

:root {
    --bs-gutter-x: 0rem !important;
}

#tituloAgregar {
    padding-left: 500px;
}

/* NUEVO */


#time {
    color: white;
}

.btning {
    color: white;
    background-color: #111936;
    border-color: white;
    margin-right: 5px;
}

.btning:hover {
    background-color: #2a2f4a;
    border-color: white;
}

.btnreg a {
    color: #111936 !important;
}

.btnreg {
    color: #111936 !important;
    background-color: #ffcd3d;
    margin-left: 5px;
}

.btnreg:hover {
    background-color: #b19b1e;
}



.btnotros {
    color: #b19b1e;
    background-color: #111936;
    border-color: #b19b1e;
    margin-right: 5px;
}

.btnotros:hover {
    color: white;
    background-color: #111936;
    border-color: white;
    margin-right: 5px;
}

.cotainerturiales {
    display: flex;
    flex-direction: column;
    background-color: #212946;
    color: white;
    padding: 50px;
}

.containerejercicios {
    display: flex;
    flex-direction: column;
    background-color: #212946;
    color: white;
    padding: 50px;
}

.footer222 {
    background-color: #111936;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 120px;
}

.exercise {
    margin: 10px;
}

#logout {
    color: white;
}

#logout:hover {
    color: #b19b1e;
}

.btnContacto {
    color: white;
    background-color: #005e05;
    border-radius: 25px;
    padding: 15px;
    border-color: white;
    margin-right: 5px;
}

.btnContacto #btnContactoa {
    text-decoration: none;
    color: white;

}

.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#weather {
    font-size: 1rem;
    color: white;
    margin-right: 0.5rem;
}

#weather-icon {
    width: 40px;
    height: auto;
}






.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #111936;
    padding-left: 5%;
    padding-right: 5%;
}

.containertextos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10px;
    color: white;
}

.imagenpy {
    width: 500px;
    height: auto;
    border-radius: 20px;
    margin: 30px;
}

.aprendep {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.aprendeh1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}


.container2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #111936;
    padding-left: 5%;
    padding-right: 5%;
}

.containertextos2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #2a2f4a;
    border-radius: 20px;
    padding: 30px;
}

.aprendep2 {
   justify-content: justify;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.container3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #111936;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.containertextos3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #2a2f4a;
    border-radius: 20px;
    padding: 30px;
}

.btndonacion{
    color: white;
    background-color: #111936;
    border-color: white;
    margin-right: 5px;
}

.btndonacion:hover{
    background-color: #2a2f4a;
    border-color: white;
}

.btndonacion a{
    text-decoration: none;
    color: white;
}


.container-donacion {
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
    padding-right: 25%;
    min-height: 100%;
   
}

.containertextosd {
    
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #111936;
    border-radius: 20px;
    padding: 30px;
}

.container-aprendep{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #2a2f4a;
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.aprendepd {
    font-size: 20px;
    margin-bottom: 5px;
}

.aprendeh1d {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.aprendeh1d2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;

}

.aprendepd2 {
    justify-content: justify;
    font-size: 16px;
    margin-bottom: 5px;
}

#donate-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 25px;
    padding: 15px;
    border-color: white;
    margin-right: 5px;

}
#donate-button{
    height: auto;
    width: 300px;
   
}