{% extends "./navbar.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block body %}
<div class="container mt-5">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">sku</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>
        <th scope="col">Stock</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoria</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in prod %}
      {% if p.stock > 0 %}
      <tr>
        <th scope="row">{{ p.sku }}</th>
        <td><img src="{{ p.imagen_url.url }}" alt="" height="100"></td>
        <td>{{ p.nombre }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.precio }}</td>
        <td>{{ p.descripcion }}</td>
        <td>{{ p.id_categoria }}</td>
        <td><form>
          {% csrf_token %}
          {% if user.is_authenticated %}
                     
          <button class="btn btn-primary agregar-carrito" data-sku="{{ p.sku }}">Agregar al carrito</button>          
                      {% else %}
                      <button class="btn btn-primary disabled agregar-carrito" data-sku="{{ p.sku }}">Agregar al carrito</button>
                      {% endif %}
        </form>
        
        </td>
      </tr>
      {% endif %}

      {% endfor %}
    </tbody>
  </table>
  <button id="btn-limpiar">Limpiar Carrito</button>
</div>
{% endblock %}
<script src="{% static 'js/carrito.js' %}"></script>
{% block script %}


{% endblock %}