{% extends "./navbar.html"%}
{% load static %}
{% block head%}
<link rel="stylesheet" href="{% static 'css/main.css'%}"></link>
{% endblock %}

{% block body %}
<div class="container-pagina">
  <div class="container1">
    <div class="containertextos">
      <p class="aprendep">Ingresa al mundo de la programación</p>
      <h1 class="aprendeh1">Aprender a Programar con Pylearning</h1>
      <p class="aprendep">Aprende a tu ritmo</p>
  
    </div>
    <div class="containerimagen">
      <img src="{% static 'img/pylearning.jpeg' %}" alt="Imagen" class="imagenpy">
    </div>
  </div>
  
  <div class="container2">
    <div class="containerimagen2">
      <img src="{% static 'img/pngwing.png' %}" alt="Imagen" class="imag2">
    </div>
    <div class="containertextos">
  
      <p class="aprendep2">¡Bienvenido a nuestra página dedicada a los ejercicios de programación y la enseñanza de Python! Aquí, te sumergirás en
      un emocionante viaje hacia el mundo de la programación, explorando los fundamentos de Python mientras te sumerges en una
      variedad de desafíos y ejercicios prácticos. Ya seas un principiante absoluto o un desarrollador experimentado en busca
      de mejorar tus habilidades, nuestra plataforma está diseñada para ofrecerte recursos y guías que te ayudarán a dominar
      este lenguaje de programación versátil y poderoso. Desde problemas simples hasta proyectos más complejos, te invitamos a
      explorar, aprender y crecer con nosotros mientras te sumerges en el fascinante universo de Python. ¡Prepárate para
      descubrir tu potencial como desarrollador y lleva tus habilidades de programación al siguiente nivel con nosotros!</p>
  
    </div>
  </div>

  <div class="container3">
    <div class="containertextos3">
      <h1 class="aprendeh13">Contactanos</h1>
      <p class="aprendep3">Si tienes alguna duda o sugerencia, no dudes en contactarnos</p>

      <div class="btnContacto"><a href="https://chat.whatsapp.com/GZDCT7PMyJ705vk3ik77P9" id="btnContactoa">Contactanos</a></div>
  
    </div>
  </div>

</div>
  


{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {
    $('#img-inicio').mouseenter(function () {
      $(this).addClass('outline');
    }).mouseleave(function () {
      $(this).removeClass('outline');
    });
  });
</script>
{% endblock %}